*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    
}
body{
    background-color: black;
    color: #f1f1f1;
    font-size: 30px;
}

ul, ol, nav{
    list-style: none;
}
/* ---------------------------------- HEADER -------------------------------- */
.header{
    width: 100%;
    background-image: url(./images/main-header-img.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.header-container {
    background-image: url(./images/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 16% 10% 44% 10%; 

}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-subtitle {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(11px);
    display: inline;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 20px;
    margin-bottom: 16px;
}
.header-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    background-image: url(./images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 150px;
    height: 134px;
    margin-right: 38px;
}
.header-title {
    font-size: 127.158px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.314px;
}
.header-title span{
    color: #6B50F6;
    font-size: 127.158px;
    font-weight: 400;
}
.header-title-descr {
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%;
    width: 75%;
}



/* ----------------------------------- Main ----------------------------------- */
.main-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    gap: 40px;
}
.block{
   /* width: 22%; */
   border-radius: 30px; 
   position: relative;
   padding: 30px 20px;
   background-color: #263435;
}
.block-title{
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.block-logo{
    background-color: #263435;
    background-size: 66%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    width: 90px;
    height: 90px;   
    position: absolute;
    top: -5px;
    right: -37px; 
    border: 10px solid black; 
    box-sizing: content-box; 
    
}
.green-logo{
background-image: url(./images/logo.png);
}
.white-logo{
background-image: url(./images/Union.png);
}
.list-icon{
    display: block;
    flex: none;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 14px;
}
.check-icon{
    background-image: url(./images/chek-circle-dark.png);
}
.radio-icon{
   background-image: url(./images/radio-button-dark.png);
}
.del-icon{
    background-image: url(./images/close-circle-dark.png);
}


/* ------------------------------ Highlights ---------------------------------- */
.highlights-block{
    grid-column: 1;
    grid-row: 1 / 10;
}
.highlights-list {
    margin-bottom: 60px;
}
.highlights-item {
    font-size: 40%;
    display: flex;
    align-items: start;
    margin-bottom: 18px;
}
.block-subtitle{
    font-size: 70%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 35px 0 30px 0;
}
.highlight-subitem{
    font-size: 46%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: start;
}


/* ------------------------------ License ------------------------------------- */
.license-block{
    grid-column: 2/3;
    grid-row: 1 / 4;
}
.license-item{
    font-size: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.license-item strong{
    font-size: inherit;
}


/* ------------------------------- Name --------------------------------------- */
.name-block {
    background-color: #263435;
    grid-column: 2/3;
    grid-row: 4 / 6;
}
.name-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-logo {
    background-image: url(./images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 36px;
    height: 40px;
}
.name-title {
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: 300%;
}
.name-title span{
    color: #6B50F6;
    font-size: 90%;
    font-style: normal;
    font-weight: 400;
}


/* ------------------------------- Attention --------------------------------- */
.attention-block{
    grid-column: 2/3;
    grid-row: 6 / 10;
}
.attention-container {
    display: flex;
}
.attention-text {
    font-size: 50%;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.attintion-img {
    width: 57%;
}


/* ------------------------------- Introduction ------------------------------ */
.introduction-block {
    grid-column: 3/4;
    grid-row: 1 / 6;
}
.intoduction-text{
    font-size: 52%;
    margin-bottom: 18px;
}


/* ------------------------------- Features ---------------------------------- */
.features-block {
    grid-column: 3/4;
    grid-row: 6 / 10;
}


/* ------------------------------- Statisctics ------------------------------ */
.statistic-block {
    border-radius: 30px;
    display: flex;
    grid-column: 4/6;
    grid-row: 1 / 2;
}
.style-block, .component-block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.style-block{
    background: #6B50F6;
    border-radius: 30px 0 0 30px;
}
.statistic-descr {
    font-size: 20px;
}
.component-block {
    background: #00FF0A;
    border-radius: 0 30px 30px 0;
}


/* -------------------------------- How to Use ------------------------------- */
.use-block{
    grid-column: 4/6;
    grid-row: 2 / 7;
}
.use-block--link{
    color: #6B50F6;
    font-size: inherit;
}


/* -------------------------------- Example --------------------------------- */
.example-block {
    grid-column: 4/6;
    grid-row: 7 / 10;
    
}
.example-block__img{
    width: 100%;
}




/* ----------------------------------------- ADAPTIVE ----------------------- */

@media (max-width: 1200px) {

    .header-subtitle{
        font-size: 26px;
    }
    .header-logo{
        width: 100px;
        margin-right: 28px;
    }
    .header-title{
        font-size: 66px;
    }
    .header-title span{
        font-size: 66px;
    }
    .header-title-descr{
        font-size: 32px;
    }

    .main-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .highlights-block{
        grid-column: 1;
        grid-row: 1/10;
    }
    .license-block{
        grid-column: 2;
        grid-row: 1/5;
    }
    .name-block{
        grid-column: 2;
        grid-row: 5/7;
    }
    .attention-block{
        grid-column: 2;
        grid-row: 7/12;
    }
    .introduction-block{
        grid-column: 1;
        grid-row: 10/16;
    }
    .features-block{
        grid-column: 1;
        grid-row: 16/20;
    }
    .statistic-block{
        grid-column: 2;
        grid-row: 12/14;
    }
    .use-block{
        grid-column: 2;
        grid-row: 14/17;
    }
    .example-block{
        grid-column: 2;
        grid-row: 17/20;
    }
}


@media (max-width: 710px) {
    .header-logo{
        width: 70px;
        height: 70px;
    }
    .header-title{
        font-size: 54px;
    }
    .header-title span{
        font-size: 54px;
    }
    .header-subtitle{
        font-size: 20px;
    }
    .header-title-descr{
        font-size: 20px;
    }
    .block-title{
        font-size: 85%;
    }
    .name-title-wrap{
        flex-direction: column;
    }
    .attention-container{
        flex-direction: column;
    }
    .attention-text{
        margin-bottom: 20px;
    }
}

@media (max-width: 640px) {
    .header-subtitle, .header-title-descr{
        font-size: 16px;
    }
    .header-title-wrap{
        width: 100%;
        justify-content: flex-start;
    }
    .header-logo{
        width: 50px;
        height: 50px;
    }
    .header-title{
        font-size: 40px;
        line-height: 100%;
    }
    .header-title span{
        font-size: 40px;
    }
    .main-section{
        display: flex;
        flex-direction: column;
    }
    .block-title{
        font-size: 100%;
    }
    .name-title-wrap{
        flex-direction: row;
        justify-content: center;
    }
    .attention-text{
        font-size: 66%;
    }
    .attention-container{
        align-items: center;
    }
}


